{% extends 'base.html' %}
{% block title %}
    Номенклатура
{% endblock %}

{% block content %}
    <h1>Список товаров</h1>

    <h3>Таблица на чистой Джанге</h3>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Категория</th>
            <th scope="col">Цена, руб.</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>Всего товаров: {{ products|length }}</p>


    {% verbatim %}
    <div id="VueProductTable">
        <h3>Таблица #2 на Vue.js</h3>
        <select v-model="selectedValue">
            <option value="">Select an option</option>
            <option v-for="option in options" :key="option.id" :value="option.id">
                {{ option.name }}
            </option>
        </select>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Наименование</th>
                <th scope="col">Цена</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr v-for="row in data" :key="row.id">
                <th scope="row">{{ row.id }}</th>
                <td>{{ row.name }}</td>
                <td>{{ row.price }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {% endverbatim %}

    <div id="root"></div>

{% endblock %}